<div class="well well-sm extra-padding-bottom">
  <h3>
    {{@sectionTitle}}
  </h3>
  <div class="form">
    <div
      class="form-group has-feedback {{unless this.isCounterValid 'has-error'}}"
    >
      <label class="control-label">
        Number of new records:
      </label>
      <Input
        @value={{this.counter}}
        class="form-control"
        placeholder={{this.placeholder}}
      />
    </div>
    <button
      class="btn btn-primary mb-1"
      disabled={{this.generateIsDisabled}}
      type="button"
      {{on 'click' this.generate}}
    >
      {{#if @seedingInProgress}}
        <FaIcon @icon="spinner" @spin={{true}} class="mr-1" />Generating...
      {{else}}
        Generate{{@sectionTitle}}
      {{/if}}
    </button>
    <button
      class="btn btn-danger"
      disabled={{this.deleteIsDisabled}}
      type="button"
      {{on 'click' this.delete}}
    >
      {{#if @deletingInProgress}}
        <FaIcon @icon="spinner" @spin={{true}} class="mr-1" />Deleting...
      {{else}}
        Delete All{{@sectionTitle}}
      {{/if}}
    </button>
  </div>
</div>
