{{page-title 'Invitations'}}
<h1>
  Invitations
</h1>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        Email
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model as |invitation|}}
      <tr>
        <th>
          {{invitation.id}}
        </th>
        <th>
          {{invitation.email}}
        </th>
        <th>
          <button
            type="button"
            class="btn btn-danger btn-xs"
            {{on 'click' (fn this.deleteInvitation invitation)}}
          >
            Delete
          </button>
        </th>
      </tr>
    {{/each}}
  </tbody>
</table>
{{outlet}}
