{{page-title 'Edit'}}
<h2>
  Edit Library
</h2>
<div class="row">
  <div class="col-md-6">
    <LibraryItemForm
      @item={{this.model}}
      @buttonLabel="Save changes"
      @handleClick={{this.saveLibrary}}
    />
  </div>
  <div class="col-md-4">
    <LibraryItem @item={{this.model}}>
      <br />
    </LibraryItem>
  </div>
</div>
{{outlet}}
